<nav class="navbar navbar-dark sticky-top">
  <div class="container justify-content-start">
    <a class="navbar-brand" href="/">Blog</a>
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/posts">Posts</a>
    <a class="nav-item nav-link" href="/projects">Projetos</a>
  </div>
</nav>