<li class="list-group-item  rounded">
    <a href="/post/<%= post.id %>">
        <div class="media"><img src="<%= `/images/${post.image}`%>" class="align-self-start mr3 rounded">
            <div class="media-body ml-2">
                <h3>
                    <%= post.title %>
                </h3>
        
                <p>
                    <%= post.description %>
                </p>
            </div>

        </div>
    </a>
</li>