<div class="card border-0" style="width: 18rem;">
    <img src="<%= `/images/${project.image}` %>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
        <%= project.name %>
        </h5>
        <p class="card-text">
        <%= project.description %>
        </p>
        <a href="/project/<%= project.id %>" class="btn btn-outline-dark">Ler mais</a>
    </div>
</div>